@tailwind components;
@layer components{
  .nav{
    @apply w-screen border-solid border-black border-opacity-30 px-20;
    border-width: 0.5px;
    height: "10%";
 }
  .login-button{
    background: #DBDFE8;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    @apply px-6 py-2;
    }
}